# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# OneDrive junk
~$*
desktop.ini

# Ignore raw datasets (correct location!)
data/raw/

# Keep processed data (safe to commit)
!data/processed/
