# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
env/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# VSCode
# -------------------------
.vscode/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db
desktop.ini
~$*

# -------------------------
# Project-specific ignores
# -------------------------

# Ignore raw datasets
data/raw/

# Ignore all processed data by default
data/processed/*

# Keep these inside processed/
!data/processed/.gitkeep
!data/processed/sample_jobs_processed.csv
